<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>com.hackademic.spritzr</string>
	<key>connections</key>
	<dict>
		<key>1B91DB2E-C86E-422E-9201-9E15963DE888</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>9860A47C-FD7D-40F1-AD19-017662C8B4D9</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>7092C227-A87A-4538-8284-252ABF9B49F1</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>9860A47C-FD7D-40F1-AD19-017662C8B4D9</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>7AC09E2B-1499-44AC-8DB9-AF13ED8EFB4F</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>E2596B2C-5E66-4A3A-BAB8-E2727EA5CA5A</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>9860A47C-FD7D-40F1-AD19-017662C8B4D9</key>
		<array/>
	</dict>
	<key>createdby</key>
	<string>Stephen Margheim</string>
	<key>description</key>
	<string>An Alfred Speedreader</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Spritzr</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>spritzr:set</string>
				<key>subtext</key>
				<string>How fast do you want to read?</string>
				<key>text</key>
				<string>Set Words per Minute</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>7AC09E2B-1499-44AC-8DB9-AF13ED8EFB4F</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>python settings.py "{query}"</string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>E2596B2C-5E66-4A3A-BAB8-E2727EA5CA5A</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>acceptsmulti</key>
				<false/>
				<key>filetypes</key>
				<array>
					<string>net.multimarkdown.text</string>
					<string>public.plain-text</string>
				</array>
				<key>name</key>
				<string>File Spritzr</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.action</string>
			<key>uid</key>
			<string>1B91DB2E-C86E-422E-9201-9E15963DE888</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>python spritzr.py "{query}"</string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>9860A47C-FD7D-40F1-AD19-017662C8B4D9</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>spritz</string>
				<key>subtext</key>
				<string>Use Spritzr to speed-read the text</string>
				<key>text</key>
				<string>Text Spritzr</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>7092C227-A87A-4538-8284-252ABF9B49F1</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
	</array>
	<key>readme</key>
	<string></string>
	<key>uidata</key>
	<dict>
		<key>1B91DB2E-C86E-422E-9201-9E15963DE888</key>
		<dict>
			<key>ypos</key>
			<real>140</real>
		</dict>
		<key>7092C227-A87A-4538-8284-252ABF9B49F1</key>
		<dict>
			<key>ypos</key>
			<real>190</real>
		</dict>
		<key>7AC09E2B-1499-44AC-8DB9-AF13ED8EFB4F</key>
		<dict>
			<key>ypos</key>
			<real>10</real>
		</dict>
		<key>9860A47C-FD7D-40F1-AD19-017662C8B4D9</key>
		<dict>
			<key>ypos</key>
			<real>140</real>
		</dict>
		<key>E2596B2C-5E66-4A3A-BAB8-E2727EA5CA5A</key>
		<dict>
			<key>ypos</key>
			<real>10</real>
		</dict>
	</dict>
	<key>webaddress</key>
	<string>hackademic.postach.io</string>
</dict>
</plist>
